.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4vh;
    column-gap: 20px;
    padding: 0 30px;
}
.card-video {
    /*border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.data-container {
    display: flex;
    flex-direction: row;
    /*border: 3px solid purple;*/
    gap: 5px;
}
.container-profile-photo {
    padding: 5px 5px 0 5px;
    display: inline-block;
    /*border: 1px solid forestgreen;*/
}
.preview-photo-time-container {
    position: relative;
}
.photo-preview {
    width: 100%;
    display: block;
    border-radius: 12px;
    /*border: 1px solid red;*/
}
.video-time {
    font-size: 13px;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    background-color: #000;
    bottom: 5px;
    right: 5px;
    position: absolute;
}
.profile-photo {
    width: 36px;
    border-radius: 50%;
}
.container-information {
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    /*border: 1px solid blue;*/
}
.video-name {
    font-family: Arial;
    color: #000;
    font-size: 15px;
    font-weight: 700;
}
.video-author {
    color: rgba(96, 96, 96, 1);
}
.video-stats {
    color: rgba(96, 96, 96, 1);
}
@media (max-width: 850px) {
    .content-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 851px) and (max-width: 1199px) {
    .content-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .content-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/*}*/